</script>
<style type="text/css">
<!--

body {
	background-color: #FFFFFF;
	font-family: sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #333333;
}

.main {
	background-color: #FFFFFF;
	font-family: sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #333333;
}

a {
	color: #3366CC;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

form {
	background-color: #CCCC99;
}

td.b {height:100px;width:100px}

-->
</style>
